<div class="row">
    <a class="banner-link" href="#">
        <div class="banner-img-block d-block">
            <img class="banner-img" src="{{ asset(banner)}}">
        </div>
        <h1 class="text-center mt-2 px-4">Спать или не спать: <br>С новыми кроватками это не вопрос</h1>
    </a>
</div>


