{{ form_start(articleForm) }}
{% if articleForm.vars.data.imageFilename %}
    <img
            src="{{ articleForm.vars.data.imageFilename | imagine_filter('articles_detail') }}"
    >
{% endif %}
<div class="form-group">
    {{ form_row(articleForm.image, {
        attr: {
            placeholder:'Выберите картинку'
        }
    }) }}
</div>
<div class="form-group">
    {{ form_row(articleForm.title) }}
</div>
<div class="form-group">
    {{ form_row(articleForm.description) }}
</div>
<div class="form-group">
    {{ form_row(articleForm.body) }}
</div>
{% if articleForm.publishedAt is defined %}
    <div class="form-group">
        {{ form_row(articleForm.publishedAt) }}
    </div>
{% endif %}
<div class="form-group">
    {{ form_row(articleForm.keywords) }}
</div>
<div class="form-group">
    {{ form_row(articleForm.author) }}
</div>
<div class="form-group">
    <button type="submit" class="btn btn-primary">{{ button_text }}</button>
</div>
{{ form_end(articleForm) }}