{% extends 'base_content.html.twig' %}

{% block title %}Управление Статьями{% endblock %}

{% block content %}
    <h1>Управление статьями ({{ pagination.totalItemCount }})</h1>
    <form>
        <div class="input-group mb-3">
            <input type="text"
                   name="q"
                   class="form-control"
                   placeholder="Найти..."
                   value="{{ app.request.query.get('q') }}"
            >
            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-secondary"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="form-check">
                <label class="form-check-label">Кол-во статей на странице : </label>
                <select name="p" class="form-select form-select-sm mb-3" aria-label=".form-select-sm">
                    {% if app.request.query.get('p') < 1 %}
                        <option selected>{{ pagination.getItemNumberPerPage }}</option>
                    {% endif %}
                    <option {{ app.request.query.get('p') != '5' ? ' ' : 'selected' }} value="5">5</option>
                    <option {{ app.request.query.get('p') != '10' ? ' ' : 'selected' }} value="10">10</option>
                    <option {{ app.request.query.get('p') != '15' ? ' ' : 'selected' }} value="15">15</option>
                </select>
            </div>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Заголовок</th>
            <th>Описание</th>
            <th>Автор</th>
            <th>Опубликована</th>
        </tr>
        </thead>
        <tbody>
        {% for article in pagination %}
            <tr>
                <td>
                    <a href="{{ path('app_article_show', { slug: article.slug}) }}">
                        {{ article.title }}
                    </a>
                </td>
                <td>{{ article.description }}</td>
                <td>{{ article.author.firstName }}</td>
                <td><i class="fas fa-{{ article.isPublished ? 'check' : 'times' }}"></i></td>
                <td>
                    <a href="{{ path('app_admin_article_edit', { id: article.id}) }}">
                        <i class="fas fa-pen"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Нет статей</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
{% endblock %}