html, body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: #847592 !important;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

a:hover {
    color: white !important;
    text-decoration: none !important;
}

.textError {
    font-weight: bold;
    background-color: pink;
    text-align: center;
    padding: 20px 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.container {
    width: 30%;
    height: 20%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.containerForm {
    width: 98%;
    margin-top: 15px;
    margin-left: auto;
}

.msg {
    height: 50%;
    color: black;
    background-color: #48b948;
    margin-bottom: 20px;
    padding: 10px 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.msg_err {
    height: 50%;
    color: black;
    background-color: #ef301d;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50% !important;
    height: 30px;
}

.text {
    width: inherit;
    text-align: center;
    margin: 10px 5% 30px;
}
