.textError {
    font-weight: bold;
    background-color: pink;
    text-align: center;
    padding: 20px 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.container {
    width: 30%;
    height: 20%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}
.containerForm {
    width: 98%;
    margin-top: 15px;
    margin-left: auto;
}
.msg {
    height: 50%;
    color: black;
    background-color: #48b948;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.msg_err {
    height: 50%;
    color: black;
    background-color: #ef301d;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50% !important;
    height: 30px;
}