{% extends 'base_content.html.twig' %}

{% block title %}Управление Тэгами{% endblock %}

{% block content %}
    <h1>Управление Тэгами ({{ pagination.totalItemCount }})</h1>

    <form>
        <div class="input-group mb-3">
            <input type="text"
                   name="q"
                   class="form-control"
                   placeholder="Найти..."
                   value="{{ app.request.query.get('q') }}"
            >
            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-secondary"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="showDeleted" {% if app.request.query.has('showDeleted') %} checked {% endif %}>
                <label class="form-check-label">Показать удаленные</label>
            </div>
        </div>
    </form>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>Название Тэга</th>
            <th>Символьный код</th>
            <th>Кол-во статей</th>
        </tr>
        </thead>
        <tbody>
        {% for tag in pagination %}
            <tr>
                <td>
                    {{ tag.name }}
                </td>
                <td>
                    {{ tag.slug }} {% if tag.deleted %} - DELETED {% endif %}
                </td>
                <td>
                    {{ tag.articles|length}}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Нет тегов</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
{% endblock %}