@import "~bootstrap";
@import "./signin.css";
@import "./detail.css";

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #efefee;
    margin-bottom: 80px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.navbar-bg {
    background: url(/images/nav-background.jpg) center;
    background-size: 100%;
}

.navbar > .container {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav-profile-img {
    width:  40px;
    height: 40px;
}

.banner-link {
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.banner-link:hover {
    text-decoration: none;
}
.banner-img-block {
    overflow: hidden;
    max-height: 250px;
}
.banner-img-block img {
    width: 100%;
}

.article-item {
    max-height: 120px;
    overflow: hidden;
}

.article-container a {
    text-decoration: none;
    color: inherit;
    background-color: #ffffff;
}
.article-container .article-comments {
    font-size: 0.6rem;
}

.article-container .article-img {
    width: 120px;
    height: 120px;
}
.article-author-img {
    width: 40px;
    height: 40px;
}


.advertisement-img {
    width: 150px;
    height: auto;
    border: 2px solid #efefee;
    border-radius: 5px;
}


.featured-border {
    border-top: 5px solid lightblue !important;
}

