{% extends 'base_content.html.twig' %}

{% block title %}Административный раздел{% endblock %}

{% block content %}
    <h3 style="text-align: center;">{{ app.user.firstName }}, вы находитесь в административном разделе </h3>
    <div class="mr-auto">
        <ul class="navbar-nav mr-auto">
            {% for rout in routes %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ rout }}"><i class="">{{ rout }}</i></a>
                    </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}