{% extends 'email/emailBase.html.twig' %}

{% block content %}
    <table>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Посмотреть</th>
        </tr>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td><a href="{{ url('app_article_show', { slug: article.slug }) }}">Перейти</a></td>
            </tr>
        {% endfor %}
    </table>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
        <tr>
            <td align="left">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td><a href="{{ url('app_homepage') }}" target="_blank">Скорее на сайт</a></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}